/* ------ UI COLORS ----- */
/* ------ UI COLORS ----- */
/* ------ UI ELEMENTS ------ */
body {
  font-family: 'proxima-nova',sans-serif;
  font-size: 15px;
  background: #0D47A1; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'futura-pt', sans-serif; }
  body p, body b, body span, body .pmbb-view, body li, body dd, body em {
    font-family: 'proxima-nova',sans-serif;
    color: #757575;
    line-height: 2;
    font-size: 16px; }
  body a {
    color: #2096F3; }

button, .btn {
  border-radius: 30px;
  font-weight: 700;
  text-transform: none;
  font-family: 'Proxima Nova', sans-serif; }
  button.btn-lg, .btn.btn-lg {
    padding: 12px 25px; }
  button.btn-sm, .btn.btn-sm {
    padding: 5px 12px; }
  button.bgm-transparent-punch, .btn.bgm-transparent-punch {
    border: 2px solid #AEEA00;
    background-color: transparent;
    color: #AEEA00; }
    button.bgm-transparent-punch:hover, .btn.bgm-transparent-punch:hover {
      background-color: #AEEA00;
      color: #465e00; }
  button.bgm-transparent, .btn.bgm-transparent {
    border: 2px solid white;
    background-color: transparent;
    color: white !important; }

i {
  color: #2096F3; }

section {
  background-color: #fafafa; }

.navbar-collapse {
  padding: 0; }

.no-shadow {
  box-shadow: none !important; }

.border-blue {
  border: 1px solid #03A9F4; }

.panel {
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd; }

.section-title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.section-subtitle {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.8;
  font-family: "Merriweather"; }

/* ------ HERO INTRO ------ */
#hero-image {
  position: relative;
  background-color: rgba(13, 71, 161, 0.7);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  #hero-image::after {
    content: "";
    background: url("../img/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

#header.home-header {
  background: transparent;
  box-shadow: none;
  position: inherit;
  margin-top: -65px; }

.navbar-brand {
  background: url("../img/enok_madrid_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  margin-top: 15px;
  text-indent: -9999px; }

.home-nav {
  background: transparent;
  border: none; }
  .home-nav .nav li {
    margin-top: 12px;
    margin-left: 20px; }
    .home-nav .nav li a {
      color: white;
      font-size: 18px;
      font-weight: 600;
      font-family: 'Proxima Nova', sans-serif;
      transition: all 0.5s ease; }
      .home-nav .nav li a:hover, .home-nav .nav li a:active, .home-nav .nav li a:focus {
        color: #AEEA00; }
    .home-nav .nav li button {
      top: 10px;
      margin-left: 10px; }

.jumbotron {
  background: transparent;
  margin-top: -50px;
  padding-top: 130px;
  margin-bottom: 0; }
  .jumbotron .cta {
    z-index: 5;
    padding: 40px 0 80px; }
    .jumbotron .cta .name {
      color: white;
      font-size: 40px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      border-bottom: 3px solid #2096F3; }
    .jumbotron .cta h1 {
      color: white;
      text-transform: uppercase;
      font-size: 5.5em;
      font-weight: 600;
      line-height: 1.2; }
    .jumbotron .cta small {
      color: #AEEA00;
      text-transform: uppercase;
      font-size: 46px;
      font-weight: 600; }
    .jumbotron .cta p {
      color: white;
      font-size: 22px;
      font-family: 'Merriweather', sans-serif;
      margin-bottom: 0; }
  .jumbotron.project {
    position: relative;
    background-color: rgba(13, 71, 161, 0.7);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-top: -65px; }
  .jumbotron.process {
    position: relative;
    background-color: rgba(13, 71, 161, 0.7);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-top: -65px; }
    .jumbotron.process::after {
      content: "";
      background: url("../img/hero-image.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }

/* ------ ABOUT ME INTRODUCTION ----------------------------------------- */
.about-me {
  padding-top: 80px;
  padding-bottom: 80px;
  background: white; }
  .about-me .section-title {
    color: black;
    margin-bottom: 20px; }
  .about-me .about-content {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px; }

.my-work {
  padding-top: 80px;
  padding-bottom: 80px; }

/* ------ PORTFOLIO SECTION HOME PAGE ----------------------------------------- */
.portfolio {
  background: #2096F3;
  /* ------ Project Container configuration ------- */ }
  .portfolio .project {
    display: block;
    position: relative;
    overflow: hidden;
    position: relative;
    padding: 0;
    /* ------ Hover background ------ */ }
    .portfolio .project .project-info {
      /** GRADIENT FADE **/
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(80%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.65)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 100%);
      /* W3C */
      /** SIZE **/
      height: 100%;
      width: 100%;
      padding-top: 38%;
      position: absolute;
      text-align: center;
      z-index: 100;
      /** SHOW/HIDE HOVER **/
      opacity: 0;
      -moz-transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear; }
      .portfolio .project .project-info .project-title {
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        font-weight: 600; }
      .portfolio .project .project-info .project-description {
        display: block;
        font-size: 16px;
        color: #2096F3;
        font-weight: 600;
        padding: 0; }
      .portfolio .project .project-info .project-tags {
        padding: 0; }
        .portfolio .project .project-info .project-tags li {
          display: inline-block;
          list-style: none;
          color: #FFF;
          font-size: 12px;
          padding: 0 10px 0 0; }
      .portfolio .project .project-info:hover {
        opacity: 1; }
    .portfolio .project .project-img {
      opacity: 0.7;
      -moz-transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear; }
      .portfolio .project .project-img.color {
        -webkit-filter: blur(3px) grayscale(60%);
        filter: blur(3px) grayscale(60%); }

#profile-main {
  box-shadow: none; }
  #profile-main .pm-overview {
    background: #fafafa !important; }
  #profile-main .pm-body {
    border: 1px solid #eee; }

/* ------ PORTFOLIO SECTION HOME PAGE ----------------------------------------- */
.project-view {
  background: white; }
  .project-view .container {
    padding-top: 30px;
    padding-bottom: 30px; }
    .project-view .container h1, .project-view .container h2, .project-view .container h3, .project-view .container h4 {
      font-weight: 600;
      text-transform: uppercase; }
    .project-view .container .introduction {
      font-size: 26px;
      font-weight: 300;
      line-height: 1.8;
      padding: 45px 0;
      text-align: center;
      font-family: "Merriweather"; }
    .project-view .container .project-info h4 {
      margin-top: 0; }
    .project-view .container .project-info b {
      display: inherit;
      margin-top: 15px;
      color: black; }
    .project-view .container .project-info ul {
      list-style: none;
      padding: 0; }
      .project-view .container .project-info ul li {
        display: inline-block;
        font-size: 13px;
        color: #2096F3;
        padding-right: 10px; }
    .project-view .container .project-info .btn {
      background: #2096F3;
      text-transform: none; }
      .project-view .container .project-info .btn i {
        color: inherit;
        padding-right: 10px; }
    .project-view .container .project-about .project-title {
      margin-top: 0; }
    .project-view .container .project-about p {
      margin-top: 20px;
      margin-bottom: 45px;
      font-size: 20px;
      line-height: 1.8; }

.project-images {
  background: white;
  padding-bottom: 60px; }
  .project-images p {
    padding: 40px 0;
    font-size: 20px;
    line-height: 1.8; }
  .project-images img {
    width: 100%; }

/* ------- VIEW PROCESS BACKGROUND SECTION -------- */
.view-process {
  background: #0D47A1;
  text-align: center;
  padding: 60px 0; }
  .view-process a {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px; }

/* ------ PROCESS CONTENT ----------------------------------------- */
.process-content {
  padding-top: 80px;
  padding-bottom: 80px; }
  .process-content p {
    padding-top: 20px;
    padding-bottom: 40px; }

/* FOOTER */
footer#contact {
  position: relative;
  background-color: rgba(13, 71, 161, 0.6);
  padding-top: 30px;
  margin: 0; }
  footer#contact::after {
    content: "";
    background: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  footer#contact .section-title {
    padding-top: 30px;
    padding-bottom: 30px; }
  footer#contact .social-footer {
    text-align: center; }
    footer#contact .social-footer ul {
      text-align: center; }
      footer#contact .social-footer ul li {
        display: inline-block;
        list-style: none; }
        footer#contact .social-footer ul li img {
          width: 60px; }
  footer#contact .social-icons {
    margin-top: 10px;
    padding-left: 0; }
    footer#contact .social-icons i {
      color: #2096F3;
      padding: 15px;
      cursor: pointer;
      transition: all 0.5s ease; }
      footer#contact .social-icons i:hover {
        transition: all 0.5s ease; }
  footer#contact .footer-copyright {
    color: white;
    font-size: 14px;
    /* background: #26222E; */ }
    footer#contact .footer-copyright .copy {
      padding: 10px 0;
      text-align: center; }
  footer#contact .card {
    color: #615C70; }
    footer#contact .card .pv-header {
      background-color: #0D47A1;
      background-image: url("../img/world.png");
      background-size: initial;
      background-position-x: 10px;
      background-position-y: -160px; }
    footer#contact .card .pv-body h2, footer#contact .card .pv-body h3, footer#contact .card .pv-body b {
      color: #2096F3; }
    footer#contact .card .pv-body small, footer#contact .card .pv-body p, footer#contact .card .pv-body li {
      color: #757575; }
    footer#contact .card .pv-body .pv-contact {
      padding-top: 20px; }
    footer#contact .card .pv-body .pv-follow {
      color: #a2c3f7; }

.borderless {
  border: none; }

.art-links {
  padding: 0;
  margin: 0; }
  .art-links li {
    margin: 0 5px; }
    .art-links li a {
      color: #2096F3;
      font-weight: 600; }

/* Large devices (Laptops, Desktops 1200px and up) */
/* Medium devices (tablets, 992px and up) */
@media (max-width: 992px) {
  .cd-dot {
    left: -7px;
    top: 15px; } }
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #header.home-header {
    padding-right: 0;
    height: 70px;
    background-color: #1A237E; }
    #header.home-header .home-nav {
      background-color: #1A237E; }
    #header.home-header .navbar-collapse {
      padding: 0 10px;
      border: none; }
    #header.home-header .navbar-toggle {
      margin-top: 15px;
      border: none; }
      #header.home-header .navbar-toggle .icon-bar {
        background-color: #FF9800; }
      #header.home-header .navbar-toggle:hover, #header.home-header .navbar-toggle:focus {
        background: #283593; }
    #header.home-header .navbar-brand {
      margin-left: 10px; }
    #header.home-header .navbar-collapse .collapse .in {
      border: none; }

  #cd-timeline {
    padding-top: 30px;
    padding-bottom: 30px; }

  .cd-dot {
    left: 5px; }

  .cd-timeline-content {
    margin-bottom: 20px; }
    .cd-timeline-content h2 {
      font-size: 20px; }
    .cd-timeline-content p {
      font-size: 16px; }
    .cd-timeline-content .cd-timeline-content .cd-step {
      font-size: 14px; } }
/* --------------------------------

Primary style

-------------------------------- */
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* --------------------------------

Main components

-------------------------------- */
#cd-timeline {
  position: relative; }
  #cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 14px;
    height: 100%;
    width: 1px;
    background: #DDD; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    padding-top: 80px;
    padding-bottom: 80px; }

  #cd-timeline::before {
    left: 50%; } }
.cd-timeline-block {
  position: relative; }
  .cd-timeline-block::after {
    content: "";
    display: table;
    clear: both; }
  .cd-timeline-block::first-child {
    margin-top: 0; }
  .cd-timeline-block::last-child {
    margin-bottom: 0; }
  .cd-timeline-block .cd-step {
    font-size: 24px;
    font-weight: 600;
    color: black; }
  .cd-timeline-block img {
    float: left;
    padding-right: 30px;
    width: 90px;
    margin-top: 18px; }
  .cd-timeline-block .cd-img {
    position: absolute;
    float: left;
    left: auto;
    right: 122%;
    width: 70%; }
    .cd-timeline-block .cd-img img {
      width: 100%; }
  .cd-timeline-block h2 {
    font-size: 30px;
    font-weight: 500;
    color: black; }
  .cd-timeline-block p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 18px; }
  .cd-timeline-block em {
    padding-top: 10px; }
  .cd-timeline-block ul {
    padding-top: 10px; }
    .cd-timeline-block ul li {
      font-weight: 600;
      font-size: 18px;
      margin-left: -20px; }

.cd-dot {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2096F3; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 100px 0; }
    .cd-timeline-block::first-child {
      margin-top: 0; }
    .cd-timeline-block::last-child {
      margin-bottom: 0; }

  .cd-dot {
    width: 20px;
    height: 20px;
    top: 22px;
    left: 50%;
    margin-left: -9px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

  .cssanimations .cd-dot.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-dot.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  padding: 1em; }
  .cd-timeline-content::after {
    content: "";
    display: table;
    clear: both; }
  .cd-timeline-content h2 {
    color: #303e49; }
  .cd-timeline-content .cd-step {
    display: inline-block; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }
.cd-timeline-content.cd-step {
  float: left;
  opacity: .7; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }
    .cd-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: white; }

  .cd-step {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 0;
    font-size: 16px; }

  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: right; }
    .cd-timeline-block:nth-child(odd) .cd-timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: white; }
    .cd-timeline-block:nth-child(odd) .cd-timeline-content .cd-read-more {
      float: right; }
    .cd-timeline-block:nth-child(odd) .cd-timeline-content .cd-step {
      left: auto;
      right: 122%;
      text-align: right; }

  .cssanimations {
    /* inverse bounce effect on even content blocks */ }
    .cssanimations .cd-timeline-content.is-hidden {
      visibility: hidden; }
    .cssanimations .cd-timeline-content.bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-2-inverse 0.6s;
      -moz-animation: cd-bounce-2-inverse 0.6s;
      animation: cd-bounce-2-inverse 0.6s; }
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
      -webkit-animation: cd-bounce-2 0.6s;
      -moz-animation: cd-bounce-2 0.6s;
      animation: cd-bounce-2 0.6s; } }
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.7); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.7); }
  100% {
    -moz-transform: scale(1); } }
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
