@import 'functions';

/* ------ UI COLORS ----- */
$blue:        #2196F3;
$blue-light:  #2096F3;
$blue-mid:    #0D47A1;
$blue-dark:   #1A237E;
$text:        #757575;
$punch-tone:  #AEEA00;
$gray-light:  #fafafa;
$tone:        #0D47A1;
$tone-light:  scale-color($tone, $lightness: 15%);
$tone-dark:   scale-color($tone, $lightness: -25%);
$tone-darker: scale-color($tone, $lightness: -50%);
$tone-text:   scale-color($tone, $lightness: 70%);
/* ------ UI COLORS ----- */


/* ------ UI ELEMENTS ------ */
body{
  font-family: 'proxima-nova',sans-serif;
  h1,h2,h3,h4,h5,h6{ font-family: 'futura-pt', sans-serif; }
  p, b, span, .pmbb-view, li, dd, em { font-family: 'proxima-nova',sans-serif; color: $text; line-height: 2; font-size: 16px;}
  font-size:15px;
  background: $blue-mid;
  a{ color: $blue-light;}
}
button, .btn{
  border-radius: 30px;
  font-weight: 700;
  text-transform: none;
  font-family: 'Proxima Nova', sans-serif;
  &.btn-lg{ padding: 12px 25px; }
  &.btn-sm{
    padding: 5px 12px;
  }
  &.bgm-transparent-punch{
    border: 2px solid $punch-tone;
    background-color: transparent;
    color: $punch-tone;
    &:hover{
      background-color: $punch-tone;
      color: scale-color($punch-tone, $lightness: -60%);
    }
  }
  &.bgm-transparent{
    border: 2px solid white;
    background-color: transparent;
    color: white !important;
  }
}

i{ color: $blue-light;}
section{ background-color: $gray-light;}

.navbar-collapse{
  padding:0;
}
.no-shadow{
  box-shadow:none !important;
}
.border-blue{
  border: 1px solid #03A9F4;
}
.panel{
  padding:10px;
  background: #eee;
  border: 1px solid #ddd;
}
.section-title{
  display: inline-block;
  font-size: 36px;
  font-weight:bold;
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle{
  font-size: 26px;
  font-weight: 300;
  line-height: 1.8;
  font-family: "Merriweather";
}


/* ------ HERO INTRO ------ */
$opacity-bg: 0.7;
$opacity-img: 0.5;
#hero-image{
  position:relative;
  background-color: rgba($blue-mid, $opacity-bg);
  &::after {
    content: "";
    background: url('../img/hero-image4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: $opacity-img;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#header.home-header{
  background: transparent;
  box-shadow:none;
  position:inherit;
  margin-top: -65px;
}

.navbar-brand{
  background: url('../img/enok_madrid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  margin-top: 15px;
  text-indent: -9999px;
}

.home-nav{
  background: transparent;
  border:none;
  .nav{
    li{
      margin-top: 12px;
      margin-left: 20px;
      a{
        color: white;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Proxima Nova', sans-serif;
        transition: all 0.5s ease;
        &:hover, &:active, &:focus{
          color: $punch-tone;
        }
      }
      button{
        top: 10px;
        margin-left: 10px;
      }
    }
  }
}

.jumbotron{
  background: transparent;
  margin-top: -50px;
  padding-top: 130px;
  margin-bottom:0;

  .cta{
    z-index: 5;
    padding: 40px 0 80px;

    .name{
      color: white;
      font-size: 40px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      border-bottom: 3px solid $blue-light;
    }

    h1{
      color: white;
      text-transform: uppercase;
      font-size: 5.5em;
      font-weight: 600;
      line-height: 1.2;
    }
    small{
      color: $punch-tone;
      text-transform: uppercase;
      font-size: 46px;
      font-weight: 600;
    }
    p{
      color: white;
      font-size: 22px;
      font-family:  'Merriweather', sans-serif;
      margin-bottom: 0;
    }
  }
  &.project{
    position:relative;
    background-color: rgba($blue-mid, $opacity-bg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-top: -65px;
  }
  &.process{
    position:relative;
    background-color: rgba($blue-mid, $opacity-bg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-top: -65px;
    &::after {
      content: "";
      background: url('../img/hero-image.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: $opacity-img;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}


/* ------ ABOUT ME INTRODUCTION ----------------------------------------- */
.about-me{
  @include verticalPadding(80px);
  background: white;
  .section-title{
    color:black;
    margin-bottom: 20px;
  }
  .about-content{
    @include verticalPadding(20px);

    // paragraph columns
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
}


.my-work{
  @include verticalPadding(80px);
}


/* ------ PORTFOLIO SECTION HOME PAGE ----------------------------------------- */
.portfolio{
  background: $blue-light;

  /* ------ Project Container configuration ------- */
  .project {
    display: block;
    position: relative;
    overflow: hidden;
    position: relative;
    padding:0;

    /* ------ Hover background ------ */
    .project-info {
      /** GRADIENT FADE **/
      $tint: black;
      $tint-percent: 0.65;
      $tint-range: 80%;
      background: -moz-linear-gradient(top,  rgba($tint,0) 0%, rgba($tint,$tint-percent) $tint-range, rgba($tint,$tint-percent) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($tint,0)), color-stop($tint-range,rgba($tint,$tint-percent)), color-stop(100%,rgba($tint,$tint-percent))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba($tint,0) 0%,rgba($tint,$tint-percent) $tint-range,rgba($tint,$tint-percent) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba($tint,0) 0%,rgba($tint,$tint-percent) $tint-range,rgba($tint,$tint-percent) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba($tint,0) 0%,rgba($tint,$tint-percent) $tint-range,rgba($tint,$tint-percent) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba($tint,0) 0%,rgba($tint,$tint-percent) $tint-range,rgba($tint,$tint-percent) 100%); /* W3C */

      /** SIZE **/
      height: 100%;
      width: 100%;
      padding-top: 38%;
      position: absolute;
      text-align: center;
      z-index: 100;

      .project-title{
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
      }
      .project-description {
          display: block;
          font-size: 16px;
          color: $blue-light;
          font-weight: 600;
          padding:0;
      }
      .project-tags{
        padding:0;
        li{
          display: inline-block;
          list-style: none;
          color: #FFF;
          font-size: 12px;
          padding: 0 10px 0 0;
        }
      }

      /** SHOW/HIDE HOVER **/
      opacity: 0;
      $sec: .4s;
      -moz-transition: all $sec linear;
      -webkit-transition: all $sec linear;
      -ms-transition: all $sec linear;
      -o-transition: all $sec linear;
      transition: all $sec linear;
      &:hover{
        opacity: 1;
      }
    }
    .project-img{
      opacity: 0.7;
      // -webkit-filter: grayscale(80%);
      // filter: grayscale(80%);
      $sec: .4s;
      -moz-transition: all $sec linear;
      -webkit-transition: all $sec linear;
      -ms-transition: all $sec linear;
      -o-transition: all $sec linear;
      transition: all $sec linear;
      &.color{
        -webkit-filter: blur(3px) grayscale(60%);
        filter: blur(3px) grayscale(60%);
      }
    }
  }
}

#profile-main{
  box-shadow: none;
  .pm-overview{ background: $gray-light !important; }
  .pm-body{  border: 1px solid #eee;}
}


/* ------ PORTFOLIO SECTION HOME PAGE ----------------------------------------- */
.project-view{
  background: white;
  .container{
    padding-top: 30px;
    padding-bottom:30px;
    h1,h2,h3,h4{
      font-weight: 600;
      text-transform: uppercase;
    }
    .introduction{
      font-size: 26px;
      font-weight: 300;
      line-height: 1.8;
      padding:45px 0;
      text-align:center;
      font-family: "Merriweather";
    }
    .project-info{
      h4 { margin-top: 0; }
      b{
        display: inherit;
        margin-top: 15px;
        color: black;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          font-size: 13px;
          color: $blue-light;
          padding-right: 10px;
        }
      }
      .btn{
        background: $blue-light;
        text-transform: none;
        // color: scale-color($punch-tone, $lightness: -40%) !important;
        i{ color: inherit; padding-right: 10px;}
      }
    }

    .project-about{
      .project-title{ margin-top: 0;}
      p{
        margin-top: 20px;
        margin-bottom: 45px;
        font-size: 20px;
        line-height: 1.8;
      }
    }
  }
}

.project-images{
  background: white;
  p{
    padding: 40px 0;
    font-size: 20px;
    line-height: 1.8;
  }
  img{
    width: 100%;
  }
  padding-bottom: 60px;
}



/* ------- VIEW PROCESS BACKGROUND SECTION -------- */
.view-process{
  background: $blue-mid;
  text-align: center;
  padding: 60px 0;
  a{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top:10px;
  }

}



/* ------ PROCESS CONTENT ----------------------------------------- */
.process-content{
  @include verticalPadding(80px);
  p{
    padding-top: 20px;
    padding-bottom: 40px;
  }
}


/* FOOTER */
footer#contact{
  position:relative;
  background-color: rgba($tone, 0.6);
  padding-top: 30px;
  margin: 0;

  &::after {
    content: "";
    background: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .section-title{
      @include verticalPadding;
  }

  .social-footer{
    // background: $tone;
    text-align: center;
    ul{
      text-align: center;
      li{
        display: inline-block;
        list-style: none;
        img{ width: 60px;}
      }
    }
  }
  .social-icons{
    margin-top: 10px;
    padding-left:0;
    i{
      color: $blue-light;
      padding: 15px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover{transition: all 0.5s ease;}
    }
  }
  .footer-copyright{
    color: white;
    font-size: 14px;
    /* background: #26222E; */
    .copy{
      padding: 10px 0;
      text-align: center;
    }
  }
  .card{
    color: #615C70;
    .pv-header{
      background-color: $tone;
      background-image: url('../img/world.png');
      background-size: initial;
      background-position-x: 10px;
      background-position-y: -160px;
    }

    .pv-body {
      h2,h3,b{ color: $blue-light;}
      small,p,li{ color: $text;}
      .pv-contact{
        padding-top: 20px;
      }

      .pv-follow {
        // background-color:$tone;
        // border-color: $tone;
        color: $tone-text;
      }
    }

    form{
      input, textarea{
        // font-size: 20px;
        // font-weight: 500;
        // color:white !important;
      }
    }
  }
}

.borderless{ border:none;}
.art-links{
  padding: 0;
  margin: 0;
  li{
    margin: 0 5px;
    a{
      color: $blue-light;
      font-weight: 600;
    }
  }
}



@import 'desktop';
@import 'tablet';
@import 'mobile';
@import 'timeline';
@import 'bounce-animation';
